@media print {
    /* Fix printing */
    .pagebreak {
        page-break-before: always;
    }

    .pagebreak:before {
        content: "\000A";
        white-space: pre;
    }

    body,html {
        background-color: #ffffff;
    }

    div.header-tab {
        border: none;

        box-shadow: none;
        color: #3366AA;
    }

    div.header-tab h1 {
        color: #FFFFFF;
    }

    div#page-main {
        box-shadow: 0px 0px 0px #AAAAAA;
        border: none;
    }

    .print-text-black {
        color: #112 !important;
    }

    a {
      text-decoration: none !important;
    }

    a:after {
        content: "" !important;
    }
}
